.DS_Store
.vscode
.composer/
lib/vendor/*
docs/superpowers/specs/2026-04-21-usuarios-gerir-design.md
docs/superpowers/plans/2026-04-21-usuarios-gerir.md
notas.txt
.continue/agents/new-config.yaml
teste.html
Logins.md
config\config.php
config\db.php
config\init.php
iicaeg_db.sql
iicaeg_db1.sql
notas.txt
assets/ficheiros/*
assets/img/uploads/*
